@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: BYkan;
  direction: rtl;
}
@font-face {
  font-family: BYkan;
  src: url('../Fonts/BNaznnBd.ttf');
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* start of Navigation Bar */
.regester {
}
.regester .login:hover{
  color: gray;
  transition: 0.6s;
  text-decoration: dashed;
}
/* .items {
  transition: 0.7s;
  transition-delay: 0.4s;
} */
.items {
  @apply mx-2 py-1;
}
/* end of Navigation Bar */

/* start of Banner section */
.banner {
  background-image: linear-gradient(135deg, #fffeff 30%, #d7fffe 100%);
  text-align: center;

}
.bg{
  background-image: linear-gradient(135deg, #fffeff 30%, #d7fffe 100%);
}
/* .title h2 {
  letter-spacing: 7px;
} */

/* .description span {
  word-spacing: 3px;
  letter-spacing: 2px;
} */
/* .description {
  @apply mt-5 text-green-900 font-bold;
} */
.banner .title h2 {
  animation-name: Light;
  animation-duration: 4s;
}
@keyframes Light {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.banner .description span {
  animation-name: cooding;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
@keyframes cooding {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* end of Banner section */

/* start of Login Form */
/* .email-box {
  @apply block bg-blue-200 text-center my-3;
}
.email {
  @apply border border-2 rounded w-4/12;
}
.password-box {
  @apply bg-blue-200 text-center;
}
.password {
  @apply border border-2 rounded w-4/12;
} */
/* end of Login Form */

/* start of footer */
.footer{
 
/*   background-image: linear-gradient(#0021ae,#00dfa2);
  border-top-left-radius: 100px;
  border-top-right-radius: 20px; */
  background-color: rgba(124,64,215,255);
}
/* end of footer */


/* start of Courses */
.headerCourse h1{
  animation-name: headercourse;
  animation-duration: 4s;
}
@keyframes headercourse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.bannerCourse h1{
  animation-name: bannerCourse;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
@keyframes bannerCourse {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.footerCourse button{
  animation-name: footerCourse;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}
@keyframes footerCourse {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.courses{
  display: none; 
  transition: 0.5s;
  height: 0;
}

.catagory:hover .courses{
  display: block;
  transition: 0.75s;
  height: 300px;
}
.courses li{
  border-radius: 5px;
  cursor: pointer;
}


.catagory1:hover .fa2{
      opacity: 100;
      visibility: visible;
      transition: 0.7s;
}
.catagory1 .fa2{
  visibility: hidden;
}
.catagory1:hover .fa1{
  visibility: hidden;
}

/* .extends-btn{
  @apply flex justify-between items-center ml-5 w-8 h-6 bg-green-600 px-2 py-1 rounded-full cursor-pointer  text-white;
} */
.extends-btn{
  transition: .75s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
  width: 35px;
  text-align: center;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  padding: 4px 10px;
  align-items: center;
}
.extends-btn:hover{
  width: 100px;
}
.b-text{
  display: none;
  /* color: white; */
}
.extends-btn:hover .b-text{
display: block;
}
/* end of Courses */

/* start of dashbord */
.rightside{
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mainsection{
  /* background: #ADA996;  
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  */
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* end of dashbord */

/* start of newCourses section */
.newcourses{
  animation-name: zero;
  animation-duration: 5s;
}
@keyframes zero {
  0%{
    color: #00dfa2;
  }
  30%{
    color: #0021ae;
  }
  60%{
    color: blueviolet;
  }
  100%{
    color: black;
  }
  
}
/* end of newCourses section */

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1E3D59;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #265177;
  /* background: #51517f; */
}

.webbasicCourses{
  direction: ltr;
}
.dots li{
  margin: 4 4 2rem !important;
  
}
button::before{
  font-size: 1rem !important;
  color: #1E3D59 !important;
 
}

.loginpage{
  background-image: url('../public/beach-1236581_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 100;

}
.registerpage{
   background-image: url('../public/mountains-5689938_1280.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 100;
}

.demo-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.demo-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.PaymentModal{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50% , -50%);
}